<!--Aquí se hace uso de las animaciones que se han introducido en el style.css-->
<h1 class="animated fadeIn fast">Sobre esta web</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas tristique leo, id laoreet tortor varius sed. Nunc interdum, dolor nec tincidunt pharetra, mi leo tincidunt elit, eu feugiat arcu odio dictum lorem. Fusce risus nisl, tristique vel
    bibendum vel, congue sed diam. Maecenas in purus vel nunc posuere pretium. Etiam quis lacus id nibh porttitor placerat id vitae odio. Sed accumsan orci et orci consequat tempor. Etiam at metus semper, dignissim nulla vel, efficitur mauris. Donec posuere
    ipsum eros, ut fringilla ex dignissim in. Proin malesuada cursus nunc at laoreet. Vestibulum non accumsan risus.
</p>

<p class="animated fadeIn">
    Fusce condimentum tempor leo id auctor. Praesent nec tempus magna. Ut aliquam, neque nec fringilla pulvinar, tellus velit scelerisque velit, tincidunt dignissim odio nisl eu diam. Ut orci urna, vestibulum et diam vitae, elementum tempor ipsum. Praesent
    tempor laoreet eros eget tincidunt. Donec eros risus, pharetra eget sem vel, vulputate ornare ante. Maecenas luctus, ipsum ut congue luctus, quam enim blandit purus, quis dapibus ligula quam vel nisi. Phasellus neque arcu, lobortis a dictum vel, sagittis
    tempus lacus. Pellentesque at nunc eget metus eleifend condimentum. In dapibus eu augue a sollicitudin. Nunc molestie et ipsum eu tempus.
</p>