<h1>Búsqueda finalizada para <small>{{textoBuscado}}</small></h1>
<hr>
<div *ngIf="heroes.length >= 1" class="card-columns">
    <app-ficha-heroe *ngFor="let personaje of heroes" [heroe]="personaje" [indice]="personaje.id" (heroeSeleccionado)="verHeroe($event)"></app-ficha-heroe>
</div>

<div *ngIf="heroes.length < 1" class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            No se han encontrado resultados para el término <i><strong>{{textoBuscado}}</strong></i>.
        </div>
    </div>
</div>