<h1>Héroes <small>comiqueros</small></h1>
<hr>
<!--La estructura básica de esta página se ha tomado de Bootstrap, en la parte de cards.-->
<div class="card-columns">
    <!--Se utiliza el *ngFor para poder cargar todos los objetos de los que se compone el array de heroes.
        Esto es lo que va dentro del div que contiene lo que se va a repetir:
    *ngFor="let heroe of heroes; let i = index"-->

    <!--Antes estaba aquí todo el código que hay ahora en ficha-heroe.component.html y se mostraba con una repetición de las cards mediante el *ngFor. Ahora, hay que hacer referencia al nuevo componente que se ha creado-->
    <app-ficha-heroe *ngFor="let personaje of heroes; let i = index" [heroe]="personaje" [indice]="i"></app-ficha-heroe>
    <!--Así es como se le dice que aquí dentro viene un componente. Está hecho igual en el index. Lo único que se ha hecho es añadir el *ngFor para que recorra el array de los héroes que tiene dentro.
    Desde esta etiqueta HTML se le pueden mandar argumentos desde el padre utilizando el mismo nombre que se le ha puesto a la propiedad en el hijo. [nombre de la propiedad que he declarado en el ficha-heroe.component.ts] = "nombre que se le da a la variable que se va a repetir en el *ngFor" (la variable local). -->

</div>