<!--Este menú se ha copiado directamente de Bootstrap.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/A-64.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--"active", de Bootstrap, es la clase para que se destaque algo como activo. Esto se puede sustituir por "routerLinkActive", que es algo de Angular y se usa como un argumento HTML normal. Lo poderoso de esto es que se fija en el elemento routerLink y mira en la clase padre a ver si tiene el atributo routerLinkActive como activo. -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
                <!--Ya no se usa el href="#". Ahora se usa el [routerLink] y se iguala a "['el nombre que se le haya dado en app-route.ts']"-->
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['heroes']">Héroes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">Acerca de</a>
            </li>
        </ul>
        <!--Este buscador lo que hace es buscar rápidamente entre todos los héroes que existen en la web-->
        <form class="form-inline my-2 my-lg-0">
            <!--Lo que se hace en esta opción es añadir #buscarTexto para que todo lo que se escriba dentro de la caja de texto del buscador se corresponda con esa variable. Además, se ha añadido un evento en el que, al dejar de pulsar la tecla enter (keyup.enter) lance una función a la que se le pasa por parámetro el valor de la variable de lo que representa que hay en la caja de texto. Se le quita el type de search para que no recargue la págian cada vez que se confirme el contenido del cuadro de texto.-->
            <input class="form-control mr-sm-2" type="text" placeholder="Busca un superhéroe" aria-label="Buscar un superhéroe" (keyup)="buscarHeroe(buscarTexto.value)" #buscarTexto>

        </form>
    </div>
</nav>