/* Esto se pone para que tenga un poco más de aire debajo del todo y no acabe abruptamente la web. */

body {
    padding-bottom: 50px;
}


/* Le doy un poco de espacio arriba a esta clase */

.main-container {
    margin-top: 20px;
}


/* Cómo mostrar los logos de las editoriales en las fichas de cada héroe */

.img-logo {
    width: 120px;
}


/* ----- ANIMACIONES ----- */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}